* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height:100%;
  width: 100%;
}

.content {
    height: 25px;
    width: 120px;
    border: 2px none black;
    border-radius: 25px;
    background-color: brown;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* margin-top: 20px; */
}

.newClass{
  background-color: green;
}

