* {
  /* margin: 0; */
  /* padding: 0; */
  /* box-sizing: border-box; */
}

body {
  /* height:100%; */
  /* width: 100%; */
  background-color: pink;
}
#heading{
    color: yellow;
    background-color: rgb(81, 71, 71);
    width: 600px;
}

